<!DOCTYPE html><html lang='en' class=''>
<head>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css'>
<style class="cp-pen-styles"></style></head><body>
<header class="hero is-light">
  <div class="hero-head">
    <nav class="nav has-shadow">
      <div class="nav-left">
        <a class="nav-item is-tab is-active">Panoptes</a>
        <a class="nav-item is-tab is-hidden-mobile">Home</a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a class="nav-item is-tab">Log out</a>
      </div>
    </nav>
  </div>
</header>

<div class="section">
  <div class="columns">
    <main class="column">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="title">Nightly Debug 65.0a1</div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button type="button" class="button is-small">
              Uptime : 6 days, 14 hours
            </button>
          </div>
        </div>
      </div>

      <div class="columns is-multiline">
        <div class="column">
          <div class="box">
            <div class="heading">Scheduler Actvity</div>
            <div class="title">56,950</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">15 mn</div>
                  <div class="title is-5">250,000</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">10 mn</div>
                  <div class="title is-5">750,000</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">5 mn</div>
                  <div class="title is-5">25%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="heading">Network+IO Activity</div>
            <div class="title">55% / 45%</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">15 mn</div>
                  <div class="title is-5">30%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">10 mn</div>
                  <div class="title is-5">25%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">5 mn</div>
                  <div class="title is-5">45%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="heading">Memory Activity</div>
            <div class="title">100MB &uarr;</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">15 mn</div>
                  <div class="title is-5">1560</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">10 mn</div>
                  <div class="title is-5">368</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">5 mn</div>
                  <div class="title is-5">77% / 23%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="heading">Firefox Processes</div>
            <div class="title">75% / 25%</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">Main</div>
                  <div class="title is-5">425,000</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Content 1</div>
                  <div class="title is-5">106,250</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Content 2</div>
                  <div class="title is-5">+ 28,5%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns is-multiline">
        <div class="column is-6">
          <div class="panel">
            <p class="panel-heading">
              Screenshot
            </p>
            <div class="panel-block">
              <figure class="image is-16x9">
                <img src="/static/screenshot.png">
              </figure>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="panel">
            <p class="panel-heading">
              Javascript Console
            </p>
            <div class="panel-block">
                <textarea class="textarea is-info" placeholder="Run some Javascript on the instance here."
                 ></textarea>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

</body></html>
