{% extends "base.jinja2" %}

{% block content %}
<div class="columns">
    <main class="column">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="title">Nightly Debug 65.0a1</div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button type="button" class="button is-small" id="uptime">
                        Uptime : Unkown
                    </button>
                </div>
            </div>
        </div>

        <div class="columns is-multiline">
            <div class="column auto">
                <div id="perf-container">
                </div>
            </div>
            <div class="column auto">
                <div id="io-container">
                </div>
            </div>

            <div class="column auto">
                <div id="cpu-container">
                </div>
            </div>

            <div class="column auto">
                <div id="memory-container">
                </div>
            </div>

        </div>
        <div class="columns is-multiline">

            <div class="column auto">
                <div id="firefox-memory-container">
                </div>
            </div>
            <div class="column auto">
                <table class="table" id="top_io">
                    <tr>
                        <th>Location</th>
                        <th>Writes</th>
                        <th>Reads</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="columns is-multiline">
        </div>

        <div class="columns is-multiline">
        </div>
    </main>
</div>

{% endblock %}

{% block script %}
<script>
  $(window).on('load', refreshDashboard);
  window.setInterval(refreshDashboard, 60000);
</script>
{% endblock %}
