{% extends "base.jinja2" %}

{% block content %}

<div class="columns">
    <div class="column auto">
        <div class="panel">
            <p class="panel-heading">
                Timeline
            </p>
            <div class="panel-block">
                <table class="table" id="timeline">
                    <tr>
                        <th>When</th>
                        <th>Action</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="column auto">
        <div class="panel">
            <p class="panel-heading">
                Visit URL
            </p>
            <div class="panel-block">
                <form action="/visit_url" method="post" enctype="multipart/form-data">
<div class="field">
                <input  class="input" type="text" name="url" value="http://mozilla.org" />
</div>
                <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Visit</button>
                </div>
               </div>
                </form>
            </div>
        </div>
    </div>
    <div class="column auto">
      <div class="panel">
        <p class="panel-heading">Screenshot</p>
        <div class="panel-block">

                <div class="field is-grouped">
                <div class="control">
          <form action="/take_screenshot">
            <button class="button is-link">Take Screenshot</button>
          </form>
          </div>
</div>
</div>
<div class="panel-block">
          <img src="/static/screenshot.png?cache={{cache}}"/>
        </div>
      </div>
    </div>
<div>
{% endblock %}

{% block script %}
<script>
$(window).on('load', refreshTimeline);
window.setInterval(refreshTimeline, 60000);
</script>
{% endblock %}
